<% if person.need_gospel %>
  <p>
    <strong>Chce usłyszeć ewangelię</strong>
  </p>
<% end %>
<% if person.need_baptism %>
  <p>
    <strong>Chce chrztu</strong>
  </p>
<% end %>
<% if person.need_healing %>
  <p>
    <strong>Potrzebuje uzdrowienia</strong>
  </p>
<% end %>
<% if person.need_deliverance %>
  <p>
    <strong>Potrzebuje uwolnienia</strong>
  </p>
<% end %>
<% if person.need_holy_spirit %>
  <p>
    <strong>Chce chrztu w Duchu Świętym</strong>
  </p>
<% end %>
<% if person.need_bible_study %>
  <p>
    <strong>Chciałby wziąć udział w studium biblijnym</strong>
  </p>
<% end %>
<% if person.remote_possible %>
  <p>
    <strong>Może być zdalnie</strong>
  </p>
<% end %>
