<h1>Znaleziono pomoc!</h1>

<p>
  <%= link_to(@user.name, @user, target: '_blank') %> zaopiekuje się człowiekiem pokoju: <%= link_to(@person.name, @person, target: '_blank') %> (<%= @person.city %>)
</p>

<p>
  Dziękujemy!
</p>