<h1>Hej <%= @new_user.name %></h1>

<p>
  Twoje konto zostało utworzone na stronie <%= link_to('http://ludziepokoju.pl', 'http://ludziepokoju.pl') %>.
</p>
<p>
  Od teraz będziesz mógł:
  <ul>
    <li>zgłaszać "ludzi pokoju" czyli osoby potrzebujące pomocy (np. ewangelii, chrztu, uzdrowienia, uczniostwa...)</li>
    <li>przeglądać dane kontaktowe innych opiekunów</li>
    <li>zgłaszać chęć opieki nad wybranym człowiekiem pokoju</li>
  </ul>
</p>
<p>
  Za pomocą strony ludziepokoju.pl chcemy:
  <ul>
    <li>
      docierać do chorych i potrzebujących uwolnienia (Mar. 16.18)
    </li>
    <li>
      docierać do ludzi z przekazem ewangelii (upamiętanie, chrzest w Jezusa, chrzest w Duchu Świętym) - Dz. Ap. 2.38.
    </li>
    <li>
      czynić uczniami ucząc przestrzegać wszystkiego co Pan przekazał (Mat. 28.18)
    </li>
    <li>
      promować proste biblijne chrześcijaństwo (nie nauczania, organizacje czy konferencje)
    </li>
  </ul>
</p>
<p>
  Pamiętaj:
  <ul>
    <li>
      Strona ludziepokoju.pl to nasze wewnętrzne narzędzie dla ZAUFANYCH liderów, którzy będą w stanie innych nauczać (2 Tym. 2.2)
    </li>
    <li>
      Osoby szukające pomocy nie powinny mieć dostępu do tej strony.
      To opiekun zgłasza człowieka pokoju po to by inny opiekun mógł zaoferować pomoc.
    </li>
    <li>
      Wszelkie dane kontaktowe opiekunów i ludzi pokoju traktujemy jako poufne.
    </li>
    <li>
      Dobra książka, nagrane świadectwo, czy film mogą pomóc w ewangelizacji ale docelowo chcemy żeby naszym głównym narzędziem było Słowo Boże!
    </li>
  </ul>
</p>

<p>W razie pytań pisz śmiało.</p>
<p>
  Dzięki za chęć pomocy!
</p>

Pozdrawiam,<br>
Piotrek Brudny
<hr />
