

<p>Po zarejestrowaniu i zalogowaniu można dodawać zgłoszenia (czyli dodawać "osoby pokoju" szukajace kontaktu).</p>
<p>Informacja o dodaniu nowego zgłoszenia jest automatycznie rozsyłana mailem do wszystkich zarejestrowanych opiekunów oraz oczywiście jest dodawana do mapy.</p>


<ul>
  <li>
    <strong>znacznik zielony</strong> osoba świeżo dodana szukająca kontaktu
    <p>po kliknięciu na znacznik lider może nacisnąć na link 'pomogę' i wtedy staje się opiekunem tej osoby</p>
  </li>
  <li>
    <strong>znacznik niebieski</strong> osoba, która ma już "opiekuna"
  </li>
  <li>
    <strong>znacznik czerwony</strong> osoba szukająca kontaktu czekająca dłużej niż 10 dni
  </li>
</ul>
