// Place all the styles related to the people controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-title {
  padding-top: 30px;
  padding-bottom: 15px;
}
select {
  @extend .form-control;
  display: initial;
}
[type="checkbox"] {
  height: 16px;
  vertical-align: middle;
}
.auth-form {
  text-align: center;
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;

  h1 {
    margin-bottom: 15px;
  }


  .subtitle {
    // padding-left: 30%;
    padding-bottom: 1em;
  }

  .actions, .field {
    margin: 1em 0;
    width: 100%;
  }

  .field input {
    height: 40px;
    padding-left: 15px;
  }

  .checkbox {
    margin-top: 1em;
    width: 30%;
  }

  .checkbox input {
    width: 10%;
    padding: 5px;
  }

  .checkbox label {
    padding: 5px;
  }

  .field label {
    width: 250px;
  }

  // input, button, select {
  //   width: 40%;
  // }



  textarea {
    width: 100%;
    min-height: 15vh;
  }

  .note-area {
  }
}
@media (max-width: 991px) {

  .auth-form {
    .field, .actions {
      width: initial;
      margin-left: 0;
    }
  }

  .auth-form h1 {
      margin: 0;
  }
  

  .auth-form .field input, .auth-form .field select {
      padding-left: 0;
      display: block;
      margin: auto;
      width: 100%;
      padding: 5px;
  }
  .auth-form .checkbox {
      margin-left: 0;
      width: initial;
      margin-bottom: 10px;
  }
  
  .auth-form .checkbox input {
      width: 20px;
      height: 20px;
      vertical-align: middle;
  }
  .auth-form .checkbox label {
      vertical-align: middle;
      margin-bottom: 0;
  }
  
  .auth-form button, .auth-form [type="submit"] {
      display: block;
      margin: auto;
      width: 100%;
  }
  .auth-form a {
      margin: 0;
  }
  
  }
  @media (min-width: 992px) {
    .actions {
      .btn-primary {
        width: 40%;
        font-size: 18px;
        cursor: pointer;
      }
    }
    .field {
      .form-control, .auth-form select {
        width: 40%;
        margin: auto;
      }
    }
    .checkbox {
      width: 40%;
      margin: auto;
      input {
        height: 16px;
        vertical-align: middle;
      }
       label {
        vertical-align: middle;
        margin-bottom: 0;
      }
    }
  }
  